.navbar a.nav-cibm {
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 1em !important;
  padding-right: 1em !important;
  color: white !important; }
  .navbar a.nav-cibm:hover {
    color: #d9d9d9 !important; }

.nav-link-white {
  color: white; }
  .nav-link-white:hover {
    color: #d9d9d9 !important; }
