.navbar{
  a.nav-cibm{
    font-size:16px;
    text-transform:uppercase;
    padding-left:1em !important;
    padding-right: 1em !important;
    color: white !important;
    &:hover {
      color: darken(white, 15%) !important;
    }
  }
}


.nav-link-white {
  color:white;
  &:hover {
    color: darken(white, 15%) !important;
  }
}

